<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lambda.assist">

    <!-- get phone imei -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- NetWork -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Access NetWork -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- get message receive -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <!-- read sd -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Access GPS Location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Access NetWork Location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Activity.Act_AuthSign"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Act_Main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Act_AuthSMS"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MapsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Act_NewMission"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activity.Act_Mission"
            android:screenOrientation="portrait" />

        <receiver android:name=".Receiver.Br_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
